@model Alternative.Web.ViewModels.DomainEntitysViewModel.AlternativeFilterViewModel

@{
    ViewData["Title"] = "Pick Alternative";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alternative</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/main.css">

</head>
<body>
<header>
    <img class="logo" src="~/images/logo.png">
    <p class="logoText">ВЫБОР АЛЬТЕРНАТИВ</p>

</header>
<content>
    <div class="alternativeBlock" id="alternatives-holder">
        @foreach (var item in Model.Alternatives)
        {
            <form asp-action="GetAllAlternatives" data-alternativeForm="">
                <input type="hidden" id="AlId" asp-for="@item.Id" value="@item.Id" />
                <div class="alternative">
                    <input type="number" asp-for="@item.Priority" max="5" min="0" value="@item.Priority" class="priority" data-priorityInput="priority">
                    <p class="name">@item.Name</p>
                    <a class="description" href="/Home/Description">Description</a>
                    <a class="teacher" href="">@item.Teacher.User.FullName</a>
                </div>
            </form>
        }
        <input type="hidden" id ="selectedSpecialty" asp-for="@Model.SelectedSpecialty" />
        <input type="hidden" id ="selectedSemestr" asp-for="@Model.Semestr" />
        <input type="hidden" id ="selectedCourse" asp-for="@Model.SelectedCourses" />
    </div>
</content>

<script>
    var selectedSpecialty = document.getElementById("selectedSpecialty").value;
    var selectedSemestr = document.getElementById("selectedSemestr").value;
    var selectedCourse = document.getElementById("selectedCourse").value;

    var alternativesHolder = document.getElementById("alternatives-holder");
    alternativesHolder.addEventListener("change", function (event) {
        if (event.target.dataset.priorityinput) {
            let form = event.target.closest("[data-alternativeForm]");
            let value = event.target.closest(".priority").value;
            console.log(form.firstElementChild);
            let url = "alternatives";
            let item = {
                Id : form.firstElementChild.value,
                Priority: value,
                SelectedSpecialty: selectedSpecialty,
                SelectedCourses: selectedCourse,
                Semestr : selectedSemestr
            };
            changeNumberOfOrderDetails(item);
        }
    });


    function changeNumberOfOrderDetails(item) {
        fetch("alternatives",
            {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(item)
            });
    }
</script>

</body>
</html>
